{%extends base.html%}
{% block body %}
    {% if categories %}
        <div style="float:left">
            Categories:
        </div>
        <div style="float:left">
        <ul>
        {% for c in categories %}
            <li><a href="/q/{{c.id}}/">{{c.name}}</a></li>
        {% endfor %}
        </ul>
        </div>
    {% endif %}
    <div style="clear:both">
    <div style="text-align:left; float:left;"><a href="/about/" style="text-decoration:none">about</a></div>
    <div style="text-align:right;float:right">
        <a id="more" href="/">more &rarr;</a>
    </div>
</div>
{% endblock %}
