{%extends base.html%}
{% block body %}
    {% if questions %}
    <style>
        #flipper{
            width:90%;
            bottom:0px;
            position:absolute;
            height:20%;
        }
        #qcontainer, #question, #answer{
            text-align:center;
        }
    </style>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript">
        var showingAnswer = false;
        var questions = [
        {% for q in questions %}
            { question:"{{q.question|escapeJs}}", answer:"{{q.answer|escapeJs}}"} {% if $loop.isLast %} {% else %},{%endif%}
        {% endfor %}
        ];

        function flip(){
            $('#question').toggle();
            $('#answer').toggle();
            showingAnswer = !showingAnswer;
            if( showingAnswer ){
                if( curQuestionNum > 0 ) $('#prev').show(); 
                else $('#prev').hide()
                if( curQuestionNum < questions.length-1 ) $('#next').show(); 
                else $('#next').hide()
            }else{
                $('#prev').hide()
                $('#next').hide()
            }
        }

        $(document).ready(
            function(){
                $('#flipper').click( flip )
                $('#catslink').hide()
            }
        )
        function showcats(){
            $('#qcontainer').hide();
            $('#qs').show();
            $('#catslink').hide();
            $('#flipper').hide()
        }

        function nextq(){ doQuestion(curQuestionNum+1); }

        function prevq(){ doQuestion(curQuestionNum-1); }

        function doQuestion(num){
            showingAnswer = false
            curQuestionNum = num;
            $('#qcontainer').show();
            var q = questions[num]
            $('#qs').hide();
            $('#next').hide()
            $('#prev').hide()
            $('#question').text(q.question).show();
            $('#answer').text(q.answer).hide()
            $('#catslink').show();
            $('#flipper').show().focus();
        }
    </script>

    <div>
        <div style="text-align:center">
            <a id="catslink" style="display:inline" href="javascript:showcats()">&larr;all</a> &nbsp; <h1 style="display:inline">{{categoryName}}</h1> 
        <div style="float:right; text-align:right"><a href="/">new<br/>category&hellip;</a></div>
    </div>
    
    </div>
        <ul id="qs">
        {% for q in questions %}
        <li><a href="javascript:doQuestion({{$loop.count}})">{{q.value}}</a></li>
        {% endfor %}
        </ul>
        <div id="wrapper">
            <div id="qcontainer" style="display:none;">
                <div id="question" style="padding-top:50px;"></div>
                <div id="answer" style="padding-top:50px;display:none"></div>
                <div style="float:left"> <a style="display:none" id="prev" href="javascript:prevq()">&larr; Prev</a></div>
                <div style="float:right"> <a style="display:none" id="next" href="javascript:nextq()">Next &rarr;</a></div>
            </div>
            <input type="button" id="flipper" class="flipper" value="Flip" style="display:none"/>
        </div>

    {% endif %}
{% endblock %}
