<html>
    <head>
        <title>jparty</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
        <meta name="viewport" content="width=device-width, user-scalable=no" /> 
        <style type="text/css">
            div{ font-family: "Trebuchet MS", sans-serif; text-align:center; margin:50px; }
        </style>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-21366269-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <div>
            All question + answer data was obtained from the <a href="http://www.j-archive.com/">J! archive</a>.
        </div>
        <div> 197,133 questions in 40,339 categories. </div>
        <div>
            The Jeopardy! game show and all elements thereof, including but not limited to copyright and trademark thereto, are the property of Jeopardy Productions, Inc. and are protected under law. This website is not affiliated with, sponsored by, or operated by Jeopardy Productions, Inc.
        </div>
        <div>send feedback, questions, and hate mail to <a href="mailto:mikey@trivial.ly">mikey@trivial.ly</a></div>
        <br/>
        <br/>
        <div>
            <img src="/static/trivially-1st.png" width="300"/>
        </div>
    </body>
</html>
