{%extends "base.html"%}
{% block body %}
    <div id="header">
        <div id="topleft">Pick a Category!</div>
        <a href="/"><div id="topright">more categories&hellip;</div></a>
    </div>

    <div id="content">
    {% if categories %}
        <div id="categories">
          {% for c in categories %}
            <a href="{{url_for("category",category_id=c._id)}}"><div class="category">{{c.name|safe}}</div></a>
          {% endfor %}
        </div>
    {% endif %}
    </div>
    <div id="footer">
        <a href="/about">about</a>
    </div>
        
{% endblock %}
