<html>
    <head>
        <style type="text/css">
            div{ font-family: "Trebuchet MS", sans-serif; text-align:center; margin:50px; }
        </style>
    </head>
    <body>
        <div>
            All question + answer data was obtained from the <a href="http://www.j-archive.com/">J! archive</a>.
        </div>
        <div>
            The Jeopardy! game show and all elements thereof, including but not limited to copyright and trademark thereto, are the property of Jeopardy Productions, Inc. and are protected under law. This website is not affiliated with, sponsored by, or operated by Jeopardy Productions, Inc.
        </div>
        <div>send feedback, questions, and hate mail to <a href="mailto:mikey@trivial.ly">mikey@trivial.ly</a></div>
    </body>
</html>
