{%extends base.html%}
{% block body %}
    {% if questions %}
    <style>
        #flipper{
            width:90%;
            bottom:0px;
            position:absolute;
            height:20%;
        }
        #qcontainer, #question, #answer{
            text-align:center;
        }
    </style>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript">
        var questions = [
        {% for q in questions %}
            { question:"{{q.question|escapeJs}}", answer:"{{q.answer|escapeJs}}"} {% if $loop.isLast %} {% else %},{%endif%}
        {% endfor %}
        ];

        function flip(){
            $('#question').toggle();
            $('#answer').toggle();
        }

        $(document).ready(
            function(){
                $('#flipper').click( flip )
                $('#catslink').hide()
            }
        )
        function showcats(){
            $('#qcontainer').hide();
            $('#qs').show();
            $('#catslink').hide();
            $('#flipper').click( hide )
        }

        function nextq(){ doQuestion(curQuestionNum+1); }

        function prevq(){ doQuestion(curQuestionNum-1); }

        function doQuestion(num){
            curQuestionNum = num;
            $('#qcontainer').show();
            var q = questions[num]
            $('#qs').hide();
            $('#question').text(q.question).show();
            $('#answer').text(q.answer).hide()
            $('#catslink').show();
            $('#flipper').show().focus();
            if( num > 0 ) $('#prev').show(); 
            else $('#prev').hide()
            if( num < questions.length-1 ) $('#next').show(); 
            else $('#next').hide()
        }
    </script>

    <div><a id="catslink" style="display:inline" href="javascript:showcats()">&larr;all</a> &nbsp; <h1 style="display:inline">{{categoryName}}  </h1></div>
        <ul id="qs">
        {% for q in questions %}
        <li><a href="javascript:doQuestion({{$loop.count}})">{{q.value}}</a></li>
        {% endfor %}
        </ul>
        <div id="wrapper">
            <div id="qcontainer" style="display:none;">
                <div id="question" style=""></div>
                <div id="answer" style="display:none"></div>
                <div style="float:left"> <a id="prev" href="javascript:prevq()">&larr; Prev</a></div>
                <div style="float:right"> <a id="next" href="javascript:nextq()">Next &rarr;</a></div>
            </div>
            <input type="button" id="flipper" class="flipper" value="Flip" style="display:none"/>
        </div>

    {% endif %}
{% endblock %}
